[run]
source = $COVERAGE_HOME/src/zdaemon
omit = */tests/*, */__main__.py
parallel = true
data_file = $COVERAGE_HOME/.coverage

[report]
exclude_lines =
    pragma: nocover
    except ImportError:
    if __name__ == .__main__.:
