language: python
sudo: false
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy
    - pypy3
matrix:
    include:
        - python: "3.7"
          dist: xenial
          sudo: true
install:
    - pip install -U pip setuptools
    - pip install -U coverage coveralls
    - pip install -U -e .[test]
script:
    - COVERAGE_HOME=. COVERAGE_PROCESS_START=./.coverage coverage run -m zope.testrunner --test-path=src
    - coverage combine
after_success:
    - coveralls
notifications:
    email: false
cache: pip

