[buildout]
develop = .
parts = test scripts coverage-test
        coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zdaemon [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport=coverage-report
arguments = ('${buildout:directory}/coverage',
             '${buildout:directory}/coverage/report')

[scripts]
recipe = zc.recipe.egg
eggs = zdaemon
